@charset "ISO-8859-1";

a:link, a:visited {
	align:center;
    background-color: #395367;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

button {
	align:center;
    background-color: #395367;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

a:hover, a:active {
    background-color: #395f70;
}

.center {
    margin: auto;
    width: 20%;
    border: 3px solid #395367;
    padding: 30px;
}